footer{
    background-color: #f5f5f7;
    height:900px ;
    width: 1500px;
    /* border: 2px solid red; */
    /* margin-left:50%; */
    
}
footer #margin{
   margin-left: 244px;
   margin-right: 244px;
   margin-top: 0;
   margin-bottom: 0;
    /* border: 2px solid green; */
    margin: auto;
}
#padding{
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 0;
    margin-bottom: 0;
    /* border: 2px solid yellow; */
    margin: auto;
    width: inherit;
    height: 900px;


}
footer #content{
    /* border: 2px solid; */
    /* padding-left: 22px;
    padding-right: 22px; */
    height:380px;
    width: 1000px;
    font-size: 12px;
    font-weight: 400;
    color: #000000BF;
    margin:auto ;
    opacity: 0.7;
    line-height: 1.4;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}
footer #content a{
    color: #000000B8;
}
#content div{
    margin: 10px;
    line-height-step: 20px;
    width: 1000px;
    /* border: 2px solid; */
}
#list{
    width: 1000px;
    display: flex;
    /* border: 2px solid; */
    margin: auto;
}
#list div{
    /* border: 2px solid; */
    width: 500px;
    height: 50vh;
    margin-top: 20px;
}
#list ul{
    margin-top: 40px;

}
#list li{
    /* border: 2px solid; */
    margin: 10px;
    list-style: none;
    cursor: pointer;
}
#demo{
    /* border: 2px solid; */
    height: 30px;
    width:100px;
    position: relative;
    top: 60px;
    border-bottom: 1px solid;
    cursor: pointer;
  
    
}
#demo1{
    position: relative;
    top: 60px;
    cursor: pointer;
}
#demo3 ul{
    /* border: 2px solid; */
    list-style: none;
    width: 400px;
    height:20px;
    display: flex;
    position: relative;
    left: 250px;
    top: 33.5px;
    /* word-spacing: 10px; */
    justify-content: space-evenly;
    cursor: pointer;

}
#india p{
    /* border: 1px solid; */
    position: relative;
    left: 970px;
    width: 30px;
    top: 7px;
    cursor: pointer;

}
#india p:hover{
    text-decoration: underline;
}
#demo a{
    /* color: #0066cc; */
    -webkit-text-fill-color: #0066cc;
}
